body{
    margin: 0;
    font-family: Arial, Helvetica,sans-serif;
}
.sliders img{
    height: 98vh;
}

header{
    width: 100%;
    height: 50px;
    box-shadow: 12px 0px 12px 1px rgba(196, 196, 196, 0.745) ;
}
nav{
    display: inline-block;
    width: 49%;
    height: 50px;
}
nav>ul{
   text-align: right;
   margin: 0;   
}
nav>ul>li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0;   
}
li>a{ 
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    margin: 0;
}
li>a:hover{
    background-color: aquamarine;
    transition-duration: 1s;
}
.logo{
    display: inline-block;
    padding-left: 5px;
    width: 49%;
    height: 50px;
}

.slide6 h1{
    margin: 10px;
    font-size: 2em;
}

.sliders{
    position: relative;
    height: 95vh;
    width: 100%;
    overflow: hidden;
}

.slide3{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: myAnim3 15s  linear 0s infinite normal forwards;
    
}
.slide4{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    animation: myAnim4 15s  linear 0s infinite normal forwards;
    
}
.slide5{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: start;
    animation: myAnim5 15s linear 0s infinite normal forwards;
    
}
.slide6{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: end;
    animation: myAnim6 15s  linear 0s infinite normal forwards;  
}
.slide5>img{
    height: 92vh;
    margin-left: 10px;
    
    animation: myAnimimg 15s  linear 0s infinite normal forwards; 

}

@keyframes myAnimimg {
	
	
    0%{    
        
    
        transform:rotate(0);
        
              
    }
    100%{    
        
        transform:rotate(25deg);
    } 

}


@keyframes myAnim3 {
	
	
    0%{    
        
        opacity: 0%;
    }
    20%{    
        
        opacity: 100%;
    }
    40%{
        
        opacity: 0%;         
    }
    60%{
        
        opacity: 0%;         
    }
    80%{
        
        opacity: 0%;         
    }
    100%{    
        
        opacity: 0%;
    } 

}
@keyframes myAnim4 {
	
	
    0%{    
        
        opacity: 0%;
    }
    20%{    
        
        opacity: 0%;
    }
    40%{
        
        opacity: 100%;         
    }
    60%{
        
        opacity: 0%;         
    }
    80%{
        
        opacity: 0%;         
    }
    100%{    
        
        opacity: 0%;
    } 

}
@keyframes myAnim5 {
	
    0%{    
        
        opacity: 0%;
    }
    20%{    
        
        opacity: 0%;
    }
    40%{
        
        opacity: 0%;         
    }
    60%{
        
        opacity: 0%;         
    }
    80%{
        
        opacity: 100%;         
    }
    100%{    
        
        opacity: 0%;
    } 
}
@keyframes myAnim6 {
	
	
    0%{    
        
        opacity: 0%;
    }
    20%{    
        
        opacity: 0%;
    }
    40%{
        
        opacity: 0%;         
    }
    60%{
        
        opacity: 0%;
          
    }
    80%{
        
        opacity: 100%;  
                
    }
    100%{    
        
        opacity: 0%;
    } 

}

#Inscription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 85px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.545);
    margin: 0;
    position: fixed;
    z-index: 99;
    bottom: 0px;
    left: 45%;
    overflow: hidden;
    border-radius: 50% 50% 0 0;
    transition-duration: 500ms;
    
    
}
.partie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
}
#Inscription:hover{
    width: 445px;
    height: 460px;
    border-radius: 0;
    transition-duration: 500ms;

}

form{
   
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 5px;
}
input{
    display: block;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: inset;
    margin-bottom: 15px;
}

.inscription-Button{
    position: relative;
    margin:10px 6px;
    color: aliceblue;
}



button{
    width: auto;
    padding: 12px;
    box-shadow: 2px 0px 12px 1px rgba(196, 196, 196, 0.745) ;
    border: 0;
}
button:hover{
    background-color: aquamarine;
    transition-duration: 1s;
    margin: 0 auto;
}

.illustration{
    display: inline-block;
    width: 50%;
    text-align: center;
}
.illustration img{
    height: 400px;
}
.informations{
    display: inline-block;
    width: 45%;
    margin: 20px;
}
section{
    margin-bottom: 50px;
}

footer{
    background-color: rgba(53, 53, 53, 0.936);
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
footer>p{
    text-align: center;
}